---
import { PortableText as PT } from "astro-portabletext";

interface Props {
  value?: any[];
  class?: string;
  components?: Record<string, any>;
}

const { value = [], class: className = "", components } = Astro.props as Props;
---
{Array.isArray(value) && value.length > 0 ? (
  <div class={className}>
    <PT value={value} components={components} />
  </div>
) : null}


