---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - Success";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Thank you for your support</h1>
    <p>Enjoy</p>
    <a href="/">Back Home</a>
  </div>
</BaseLayout>
