---
// foundations
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import Link from "@/components/foundations/elements/Link.astro";

interface Props {
  feature?: import("@/data/sanity").Cta1Section;
}

const { feature } = Astro.props as Props;
const header = feature?.header || "";
const subheading = feature?.subheading || "";
const ctaLabel = feature?.ctaLabel || "Get full access";
const ctaHref = feature?.ctaHref || "#_";
const isCenter = (feature?.alignment || "center") === "center";
---

<section>
  <Wrapper variant="standard" class="py-16 border-b">
    <div class={"p-8 py-24 rounded-xl bg-accent-500 " + (isCenter ? "text-center" : "") }>
      <div class={"text-balance " + (isCenter ? "" : "max-w-2xl") }>
        {header && (
          <Text
            tag="h2"
            variant="displayLG"
            class="font-serif font-medium text-white"
          >
            {header}
          </Text>
        )}
        {subheading && (
          <Text tag="p" variant="textLG" class="mt-2 text-white/80">
            {subheading}
          </Text>
        )}
      </div>
      <div class={"flex mt-8 " + (isCenter ? "justify-center" : "") }>
        <Link gap="sm" size="base" variant="muted" href={ctaHref}>
          {ctaLabel}
        </Link>
      </div>
    </div>
  </Wrapper>
</section>
