---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - Cart";

const cartItems : Array<string> = ['item 1', 'item 2']
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Cart</h1>
    {cartItems.map(item=> {
    return <div>
      {item}
    </div>
    })}
  </div>
</BaseLayout>
