---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout>
  <Wrapper variant="standard" class="py-12">
    <div id="Y2treWQwMU1aRlZqTlc1eE0wRTlQUT09" class="policy_embed_div max-w-xl mx-auto">
      Please wait while the policy is loaded. If it does not load, please <a rel="nofollow" href="https://policies.termageddon.com/api/policy/Y2treWQwMU1aRlZqTlc1eE0wRTlQUT09" target="_blank">click here</a> to view the policy.</div>
    <script src="https://policies.termageddon.com/api/embed/Y2treWQwMU1aRlZqTlc1eE0wRTlQUT09.js"></script>
  </Wrapper>
</BaseLayout>